@media (min-width: 1025px){

  .container {
    margin: 0 auto;
    width: 1024px;
    max-width: 1024px;
  }

  .xlpi {
    position: inherit;
  }

  .xlm0 {
    margin: 0;
  }

  .xlp0 {
    padding: 0;
  }

}